* {
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: hsl(257, 40%, 49%);
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
}
.logo {
    margin: 25px 20px;
    width: 130px;
}
.illimg {
    display: flex;
    justify-content: center;
}
.illus {
    width: 300px;
    margin: 25px 30px
}
.head {
    color: white;
    font-weight: 600;
    font-size: 24px;
    margin: 40px 40px 0px;
    text-align: center;
}
.tail {
    color: white;
    margin: 20px 36px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
.but {
    display: flex;
    justify-content: center;
}
.button {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    color: hsl(257, 40%, 49%);
    background-color: white;
    cursor: pointer;
    border-radius: 50px;
    font-size: 13px;
    margin-bottom: 60px;
    transition-duration: 150ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.button:hover {
    background-color: hsl(300, 69%, 71%);
    color: white;
}
.foot {
    display: flex;
    justify-content: center;
}
.fa-brands {
    font-size: 12px;
    color: white;
    border: solid white 1px;
    border-radius: 50%;
    text-align: center;
    margin: 0px 5px 20px;
    transition-duration: 150ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
    cursor: pointer;
    
}
.fa-facebook-f {
    padding: 5.5px 7.75px;
}
.fa-twitter {
    padding: 5.5px 5.5px;
}
.fa-instagram {
    padding: 5.5px 6.25px;
}
.fa-brands:hover {
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}
.attribution {
    font-size: 9px;
    text-align: center;
    color: white;
}
a {
    color: hsl(300, 69%, 71%);
    transition-duration: 150ms;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
a:hover {
    color: hsl(300, 31%, 52%);
}
@media (min-width: 376px) {
    body {
        background-image: url("images/bg-desktop.svg");
        background-repeat: repeat;
    }
    .logo {
        margin: 50px 50px;
        width: 200px;
    }
    .main {
        display: flex;
        justify-content: center;
    }
    .illus {
        width: 700px;
        margin: 30px 0px 14px 70px
    }
    .desc {
        margin-top: 40px;
    }
    .head {
        font-size: 40px;
        margin: 40px 50px 0px;
        text-align: left;
    }
    .tail {
        margin: 20px 90px 20px 50px;
        text-align: left;
        font-size: 16px;
    }
    .but {
        justify-content: left;
        margin-left: 50px;
    }
    .button {
        font-size: 18px;
        height: 55px;
    }
    .foot {
        justify-content: right;
        margin-right: 50px;
    }
    .fa-brands {
        font-size: 20px;
        border: solid white 1px;
        margin: 0px 5px 15px;
    }
    .fa-facebook-f {
        font-size: 18px;
        padding: 10px 13.5px;
    }
    .fa-twitter {
        font-size: 16px;
        padding: 10.5px 11px;
    }
    .fa-instagram {
        padding: 8.5px 10.25px;
    }
    .attribution {
        font-size: 12px;
    }
}